In [ ]:
# data extraction and cleaning
# data preprocessing stage
import numpy as np
import pandas as pd

In [2]:
# open csv file
data = pd.read_csv('creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
# find any duplicated entries
data.duplicated(keep='last').sum()

1081

In [5]:
# drop duplicates
data.drop_duplicates(inplace=True)

In [6]:
# null values?
data.notnull().sum()

Time      283726
V1        283726
V2        283726
V3        283726
V4        283726
V5        283726
V6        283726
V7        283726
V8        283726
V9        283726
V10       283726
V11       283726
V12       283726
V13       283726
V14       283726
V15       283726
V16       283726
V17       283726
V18       283726
V19       283726
V20       283726
V21       283726
V22       283726
V23       283726
V24       283726
V25       283726
V26       283726
V27       283726
V28       283726
Amount    283726
Class     283726
dtype: int64

In [7]:
# determine class totals
data['Class'].nunique()

2

In [8]:
data['Class'].unique()

array([0, 1], dtype=int64)

In [9]:
# drop unwanted column
data.drop(columns=['Time'], inplace=True)
data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [10]:
# detemine total for each class
data['Class'].value_counts()

Class
0    283253
1       473
Name: count, dtype: int64

In [11]:
# standardize data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# scale 
data['Amount'] = scaler.fit_transform(data['Amount'].values.reshape(-1,1))

In [12]:
# seperate class 0 and 1
data_0 = data[data['Class'] == 0]
data_1 = data[data['Class'] == 1]

In [13]:
# drop label for data_0
x_data0 = data_0.drop(columns=['Class'])
y_data0 = data_0['Class']

In [14]:
# split data_0
from sklearn.model_selection import train_test_split
x_train0, x_test0, y_train0, y_test0 = train_test_split(
    x_data0, y_data0, test_size=0.10, random_state=42
)

In [15]:
x_test0.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
274842,0.032432,0.845050,0.161690,-0.798504,0.695579,-0.565116,0.933765,-0.062716,-0.349653,-0.255274,...,0.013430,-0.229609,-0.491374,0.001259,-0.400306,-0.451544,0.143434,0.246293,0.084199,-0.343023
90161,1.205443,0.289451,0.741620,0.746450,-0.682445,-1.276868,0.136546,-0.284828,-0.106272,-0.092854,...,-0.043590,-0.208169,-0.589665,0.185183,0.933687,0.168355,0.058053,-0.025197,0.027646,-0.309237
41458,-0.275684,1.112403,0.942716,-0.136235,0.427005,-0.504525,0.686810,-0.014106,-0.322820,-0.506743,...,0.130043,-0.321393,-0.851229,-0.121964,-0.509255,-0.052742,0.124297,0.244629,0.089349,-0.346218
154410,1.802716,-0.304729,-2.092921,0.191727,0.553230,-1.079475,0.755031,-0.537489,1.236229,-0.280493,...,0.061476,0.078572,0.251564,-0.165849,-0.392507,0.277481,0.121611,-0.135312,-0.068539,0.274831
75020,-2.525869,2.202607,0.633063,0.584094,-0.668050,0.201383,0.207289,0.336436,0.751606,1.596623,...,0.166092,-0.191501,-0.238654,-0.115595,-0.024809,-0.158276,-0.669323,-1.506852,-0.739474,-0.217064

In [16]:
len(x_test0)

28326

In [17]:
# taking only 480 xtest0 entries
# would concatenate with data_1 to use as test dataset for evaluation
data_x00 = x_test0[0:480]
data_y00 = y_test0[0:480]

data_00 = pd.concat([data_x00, data_y00], axis=1)

In [18]:
# keeping the rest
x_test0 = x_test0[481:]
y_test0 = y_test0[481:]

In [19]:
# putting eveything as one test dataset
# i.e. data_00 and data_1
test_data = pd.concat([data_00, data_1])

In [20]:
# training data to be used is x_train0 and y_train0
# test data to be used for evaluation is test_data

# create validation dataset out of training dataset
x_train0, x_val0, y_train0, y_val0 = train_test_split(
    x_train0, y_train0, test_size=0.20, random_state=42
)

In [22]:
len(x_val0)

50986

In [25]:
type(x_train0)

pandas.core.frame.DataFrame

In [26]:
type(x_val0)

pandas.core.frame.DataFrame

In [27]:
# convert from dataframe to numpy arrays
x_train0.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
101739,-0.801057,-0.385518,2.331103,-1.898797,-0.310785,1.923541,-0.938786,0.772570,0.043424,-0.197686,...,0.237779,0.114683,0.669152,-0.562270,-1.662374,0.677568,0.007671,0.349324,0.100234,-0.295020
133010,-0.070326,1.012150,1.092273,1.529751,0.073325,-0.670071,0.593813,-0.242106,-0.697905,0.216305,...,0.106013,0.164612,0.600867,-0.012563,0.422773,-0.317828,-0.197786,0.029739,0.088495,-0.331482
55169,-10.441746,-11.600544,-2.256248,0.287877,-0.322592,-2.986039,1.618101,0.061414,-0.539134,-2.062997,...,-0.315181,-0.387002,-0.534209,3.466379,0.835440,1.565253,0.078927,1.465506,-3.515276,1.967649
192848,1.998180,-0.475314,-0.732268,0.096951,-0.054346,0.634635,-0.750737,0.215186,1.207636,-0.013737,...,-0.124653,0.187839,0.737913,0.027689,-0.115775,0.018509,-0.213925,0.033365,-0.047041,-0.301450
10320,-0.487943,0.571487,2.170264,1.787858,-1.172119,0.854935,-1.604364,-2.430118,0.901141,-1.000582,...,0.863530,-1.199242,0.664000,-0.318814,0.499873,1.124744,-0.044556,0.037318,0.199837,0.081978

In [40]:
x_train0.shape

(203941, 29)

In [30]:
# Phase 2
# Pytorch dataset
# Model creation
import torch
from torch.utils.data import Dataset, DataLoader

In [32]:
# Dataset
class FraudDataset(Dataset):
    def __init__(self, x):
        self.x = torch.tensor(x)
        pass

    def __getitem__(self, idx):
        return self.x[idx]
    
    def __len__(self):
        return len(self.x)
    
    def __type__(self):
        return type(self.x)

In [33]:
# Model
import torch.nn as nn

class VAE(nn.Module):
    def __init__(self, input_dim=100, hidden_dim=128, latent_dim=10):
        super(VAE, self).__init__()
        
        # Encoder layers
        self.encoder = nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim, hidden_dim // 2),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 2, hidden_dim // 4),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 4, hidden_dim // 8),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 8, latent_dim * 2) 
        )

        # Decoder layers
        self.decoder = nn.Sequential(
            nn.Linear(latent_dim, hidden_dim // 8),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 8, hidden_dim // 4),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 4, hidden_dim // 2),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim // 2, hidden_dim),
            nn.LeakyReLU(),
            nn.Linear(hidden_dim, input_dim) 
        )

    def encode(self, x):
        x = self.encoder(x)
        mean, logvar = x.chunk(2, dim=-1) 
        return mean, logvar

    def reparametrize(self, mean, logvar):
        std = torch.exp(0.5 * logvar)
        epsilon = torch.randn_like(std)
        return mean + std * epsilon 
    
    def decode(self, z):
        return self.decoder(z)

    def forward(self, x):
        mean, logvar = self.encode(x)
        z = self.reparametrize(mean, logvar)
        x_hat = self.decode(z)
        return x_hat, mean, logvar

In [41]:
fraud_dataset = FraudDataset(x_train0.values)
model = VAE(input_dim=29)

In [43]:
# model hyperparameters

# loss function
def loss_function(x_hat, x, mean, logvar):
    recon_loss = nn.functional.mse_loss(x_hat, x, reduction='sum')
    kl_loss = -0.5 * torch.sum(1 + logvar - mean.pow(2) - logvar.exp())
    return recon_loss * kl_loss, recon_loss, kl_loss

# optimizer
optim = torch.optim.Adam(model.parameters())

In [42]:
# Phase 3 
# training phase

batch_size = 64
train_loader = DataLoader(FraudDataset(x_train0.values), batch_size=batch_size, shuffle=True)
val_loader = DataLoader(FraudDataset(x_val0.values), batch_size=batch_size, shuffle=False)

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model.to(device)

# Training loop
num_epochs = 10
for epoch in range(num_epochs):
    model.train()
    train_loss, recon_loss, kl_loss = 0, 0, 0
    
    for batch in train_loader:
        batch = batch.to(device, dtype=torch.float)
        optim.zero_grad()
        
        x_hat, mean, logvar = model(batch)
        loss, recon, kl = loss_function(x_hat, batch, mean, logvar)
        
        loss.backward()
        optim.step()
        
        train_loss += loss.item()
        recon_loss += recon.item()
        kl_loss += kl.item()
    
    # Validation phase
    model.eval()
    val_loss = 0
    with torch.no_grad():
        for batch in val_loader:
            batch = batch.to(device, dtype=torch.float)
            x_hat, mean, logvar = model(batch)
            loss, _, _ = loss_function(x_hat, batch, mean, logvar)
            val_loss += loss.item()
    
    print(f"Epoch {epoch+1}/{num_epochs}, Train Loss: {train_loss/len(train_loader):.4f}, \
          Recon Loss: {recon_loss/len(train_loader):.4f}, KL Loss: {kl_loss/len(train_loader):.4f}, \
          Val Loss: {val_loss/len(val_loader):.4f}")

Epoch 1/10, Train Loss: 1944.7855,           Recon Loss: 1934.0680, KL Loss: 10.7175,           Val Loss: 1976.4682
Epoch 2/10, Train Loss: 1944.8016,           Recon Loss: 1934.0841, KL Loss: 10.7175,           Val Loss: 1976.4429
Epoch 3/10, Train Loss: 1944.8001,           Recon Loss: 1934.0826, KL Loss: 10.7175,           Val Loss: 1976.4336
Epoch 4/10, Train Loss: 1944.7904,           Recon Loss: 1934.0728, KL Loss: 10.7175,           Val Loss: 1976.4601
Epoch 5/10, Train Loss: 1944.8078,           Recon Loss: 1934.0902, KL Loss: 10.7175,           Val Loss: 1976.4280
Epoch 6/10, Train Loss: 1944.7794,           Recon Loss: 1934.0619, KL Loss: 10.7175,           Val Loss: 1976.4594
Epoch 7/10, Train Loss: 1944.7956,           Recon Loss: 1934.0781, KL Loss: 10.7175,           Val Loss: 1976.4189
Epoch 8/10, Train Loss: 1944.8099,           Recon Loss: 1934.0924, KL Loss: 10.7175,           Val Loss: 1976.4180
Epoch 9/10, Train Loss: 1944.8145,           Recon Loss: 1934.0969, KL Loss: 10.7175,           Val Loss: 1976.4256
Epoch 10/10, Train Loss: 1944.7877,           Recon Loss: 1934.0701, KL Loss: 10.7175,           Val Loss: 1976.3931